<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>LiveLikeYouAreDying</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>LiveLikeYouAreDying needs music access to upload music.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>LiveLikeYouAreDying needs calendar access to add ceremony schedules.</string>
	<key>NSCameraUsageDescription</key>
	<string>LiveLikeYouAreDying needs camera access to capture and set ceremony images.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>LiveLikeYouAreDying needs micronphone access to record audio.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>LiveLikeYouAreDying needs camera access to save ceremony images.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>LiveLikeYouAreDying needs photo access to pick ceremony images.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Epilogue-Black</string>
		<string>Epilogue-BlackItalic.ttf</string>
		<string>Epilogue-Bold.ttf</string>
		<string>Epilogue-BoldItalic.ttf</string>
		<string>Epilogue-ExtraBold.ttf</string>
		<string>Epilogue-ExtraBoldItalic.ttf</string>
		<string>Epilogue-ExtraLight.ttf</string>
		<string>Epilogue-ExtraLightItalic.ttf</string>
		<string>Epilogue-Italic.ttf</string>
		<string>Epilogue-Light.ttf</string>
		<string>Epilogue-LightItalic.ttf</string>
		<string>Epilogue-Medium.ttf</string>
		<string>Epilogue-MediumItalic.ttf</string>
		<string>Epilogue-Regular.ttf</string>
		<string>Epilogue-SemiBold.ttf</string>
		<string>Epilogue-SemiBoldItalic.ttf</string>
		<string>Epilogue-Thin.ttf</string>
		<string>Epilogue-ThinItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
